


html {
    font-family: "Arial Unicode MS";
    font-size: medium;
}

ul {
  list-style-type: none;
}

li {
  border-color: black;
  text-decoration: none;
  mso-bullet-image: none;
}

h1 {
  font-size: xx-large;
  text-align: center;
  font-family: "Arial Black";
}

h3 {
  font-size: large;
}

bold b {
  bold: true;
}

pre {
  display: block;
  background-color: lightgrey;
  font-family: "Consolas";
  overflow: auto;
}


/** Lowest priority **/
.fibbonacci {
  background-color: rgba(255, 215, 0, 0.51);
  border-color: rgba(184, 134, 11, 0.51);
}

/** better than lowest **/
.middle {
  background-color: rgba(0, 0, 255, 0.51);
  border-color: rgba(0, 0, 139, 0.51);
}

/** Better than middle or fibbo **/
.last {
  background-color: rgba(0, 128, 0, 0.51);
  border-color: rgba(0, 100, 0, 0.51);
}

/** highest priority **/
.first {
  background-color: rgba(255, 0, 0, 0.51);
  border-color: rgba(139, 0, 0, 0.51);
}