/**
  CSS Variables - for demonstration purposes to prove I know how to use them.
 */

element {
  --colorLightRed: rgba(255, 0, 0, 0.51);
  --colorDarkRed: rgba(139, 0, 0, 0.51);
  --colorLightBlue: rgba(0, 0, 255, 0.51);
  --colorDarkBlue: rgba(0, 0, 139, 0.51);
  --colorLightGreen: rgba(0, 128, 0, 0.51);
  --colorDarkGreen: rgba(0, 100, 0, 0.51);
  --colorLightGold: rgba(255, 215, 0, 0.51);
  --colorDarkGold: rgba(184, 134, 11, 0.51);
}
/**
  Class related css -
  I do know how to set all CSS variables (see above). I didn't use them however.
  Not all browsers support them however. Mine version of chrome for example
 */

/**
  List Element class selectors. These are used to determine the colors present on the list element.
  Note, while the javascript logic ensures that only one of these elements will ever be on a list element,
  I kept them in priority order when there is a conflict such that the one we want would get displayed anyways.
  (least priority to greatest) The last one listed here will be the one displayed.
 */

html {
  font-family: "Arial Unicode MS";
}

/** Lowest priority **/
.fibbonacci {
  background-color: rgba(255, 215, 0, 0.51);
  border-color: rgba(184, 134, 11, 0.51);
}

/** better than lowest **/
.middle {
  background-color: rgba(0, 0, 255, 0.51);
  border-color: rgba(0, 0, 139, 0.51);
}

/** Better than middle or fibbo **/
.last {
  background-color: rgba(0, 128, 0, 0.51);
  border-color: rgba(0, 100, 0, 0.51);
}

/** highest priority **/
.first {
  background-color: rgba(255, 0, 0, 0.51);
  border-color: rgba(139, 0, 0, 0.51);
}

.preformatted {
  font-family: monospace;
  white-space: pre;
}

.container {
  padding: 5px;
  box-sizing: border-box;
}

.fatFrame {
  box-sizing: border-box;
  border-width: thin;
  padding: 25px;
  border-style: solid;
}

.thinFrame {
  box-sizing: border-box;
  border-width: thin;
  padding: 5px;
  border-style: solid;
}


.header {
  float: top;
  width: 100%;
}

.leftPane {
  float: left;
  width: 50%;
  height: 100%;
}

.rightPane {
  float: right;
  width: 50%;
  height: 100%;
}

.footer {
  float: bottom;
  width: 100%;
}

.fillHeight {
  height: 100%;
}

.fillWidth {
  width: 100%;
}

.controlHeight {
  height: 50px;
  box-sizing: border-box;
}

.controlWidth {
  box-sizing: border-box;
  width: 50px;
}

/**
  This portion controls horizontal centering of components
 */
.outer-center {
  float: right;
  right: 50%;
  position: relative;
}
.inner-center {
  float: right;
  right: -50%;
  position: relative;
}
.clear {
  clear: both;
}

/**
  check box stuff
 */
.checkBox {
  background-color: cyan;
  color: darkcyan;
}

/**
  Element related css
 */

div {
  border: black;
}

ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-top: 0;
  list-style-type: none;
}

li {

  border-color: black;
  border-width: thin;
  border-style: solid;
  display:table-cell;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  min-height: 60px;
  margin: 5px;
}


/**
  Alter the check box
 */
.box {
  background: cyan;
  color: darkcyan;
  width: 250px;
  padding: 10px;
  margin: 1em auto;
}

.inputRow {
  margin-bottom: 45px;
}

input[type="checkbox"] {
  display: none;
  background-color: cyan;
}

label {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  border: thin solid black;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: center;
  width: 16px;
}
input[type="checkbox"]:checked + label:before {
  background: cyan;
  color: black;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  background: cyan;
  color: black;
  font-weight: bold;
}

/**
  Id related css
 */

#theHeader {
  font-size: xx-large;
  text-align: center;
  width: 100%
}

#theContentDiv {
  width: 100%;
  height: 500px;
}

#theFooter {
  margin: 25px;
}

#theInputRow {
  height: 20px;
}

#theContentRow {
  height: 250px;
}

#theInputRow {
  height: 20px;
}

#theTextInput {
  width: 140px;
  height: 20px;
}

#theAddButton {
  width: 120px;
  height: 20px;
}

#theLeftDiv {
  overflow-y:auto;
}

#theContentRow {
  overflow-y: scroll;
  color: black;
}

/**
 * Special css to apply dependant on screen size
 * Please note that this option is not supported on versions of IE8 or lower
 */
/*
@media only screen and (max-width: 1026px) {
  #theContentRow {
    display: none;
  }
}
*/

